# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# .build, .gradle_home 폴더와 그 파일들을 모두 무시
.build/
.gradle_home/

# .log 무시
*.log